{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Uploads {% endblock %}

{% block content %}

<h1>Authenticate</h1>


<div class="row">
<div class="card text-white bg-dark col-md-12">
<div class="card-header">
Upload Proof Of Return
</div>
<div class="card-body">
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Upload Proof</button>
    </form>
    {%else%}
    <div class="alert alert-danger">
        <h1>YOU ARE NOT LOGGED IN. LOG IN TO AUTHENTICATE</h1>
    </div>

       </div>
    </div>
    </div>
{%endif%}
{% endblock content%}