{% extends 'base.html' %}
{% load  static %}
{% block title %}Home{%endblock title%}
{%block body %} <body style = "background-image:url('{% static 'img/computers.png' %}' );">{%endblock body%}
{%block style%} <link rel="stylesheet" href="{% static 'css/index.css' %}" /> {%endblock style%}
{% block content %}


<div class="caption text-center">
    {% if user.is_authenticated %}
    <h1>Welcome To The User's Page</h1>
    <h3>{{user.username|title}}</h3>
    <a class="btn btn-outline-light btn-lg login_button" href="{%url 'rule_list'%}"
      >View Rules</a
    >
    <br>
    <a class="btn btn-outline-light btn-lg login_button2" href="{%url 'upload_list'%}">Authenticate Rules</a>
</div>
  <!-- End Landing Page Section -->

{% else %}
    <h1>You Are Not Logged In</h1>
    <h3>{{user.username|title}}</h3>
    <a class="btn btn-outline-light btn-lg login_button"
       href="{%url 'login' %}">Click to Login</a>
    <br>
    <a href="{% url 'password_reset' %}" style="color:white;">Forgot My Password</a>
    <br>
    <h2>OR</h2>
    <a class="btn btn-outline-light btn-lg "
       href="{%url 'signup' %}">Sign Up</a>
{% endif %}

{% endblock content%}